body {
  font-family: math;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 800px;
}

blockquote {
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 0.5em 0px;
  padding: 0.5em 0px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.breadcrumb {
      padding: 0rem;
      margin-bottom: 0rem;
      list-style: none;
      background-color: inherit;
      font-size: 25px;
}

.card-body {
    padding: 0.50rem;
}

.mark, mark {
    padding: 0px;
}

.refine {
    padding-bottom: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #6bb3ff;
    border-color: #6bb3ff;
}

.btn-outline-primary {
  border-color: #ffffff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #6bb3ff;
  border-color: #6bb3ff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #6bb3ff;
  border-color: #6bb3ff;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.0rem;
}

.refine_header {
    margin-bottom: 0;
    border-radius: 1px;
    background: #036eff;
    padding: 10px;
    color: white;
}

#hits {
  padding: 0px;
}

.no-pad-left {
  padding-left: 0px;
}

.card_pad {
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.card {
    min-height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 2px 5px 0px #e3e5ec;
}

.image-preview {
    max-width: 100%;
}

.column_left {
  float: left;
  width: 18%;
}

.column_right {
  float: left;
  width: 82%;
}

.pointer {
    cursor: pointer;
}

p {
    line-height: 1.0;
}

h1 {
    font-size: 1.3rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.header-subtitle {
    margin-top: unset;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.article-header {
    margin-block-end: 0rem;
    font-weight: bold;
    font-size: 1.0rem;
}

article {
    font-weight: lighter;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(284deg, #03beff, #036eff);
  color: #fff;
  margin-bottom: 0rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

button.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

button.btn-no-margin {
  margin-top: 0rem!important;
}

.searchclear {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 37px;
    height: 14px;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    color: #6c757d;
}

.searchcount {
    position: absolute;
    right: 45px;
    top: 11px;
    margin: auto;
}

.subhead {
  opacity: .4;
  padding-top: 10px;
  margin: 0px 0px 0px;
}
