name: Deploy Staging Branch

on:
  push:
    branches:
      - staging
jobs:

  call-test-build:
    uses: ./.github/workflows/test-build.yml
    secrets: inherit
    with:
      environment: staging

  call-test:
    uses: ./.github/workflows/test.yml
    needs: call-test-build
    secrets: inherit
    with:
      environment: staging

  call-deploy:
    uses: ./.github/workflows/deploy.yml
    needs: call-test
    secrets: inherit
    permissions:
      pull-requests: write
    with:
      environment: staging
      context: production
      alias: staging-aiid
